body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 62.5%;
  background: #888888;
}

header{
  display: flex;
  justify-content: center;
  align-items: center;
  background: black;
  height: 150px;
}
header h1 {
  color: rebeccapurple;
  font-size: 5rem;
}
header span{
  color: white;
  font-size: 4rem;
}

.navbar {
  font-size: 1.4rem;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: start;
  background: black;
}
.components{
  display: flex;
}
.navbar a {
  text-decoration: none;
  color: white;
  padding: 1.2rem 1.4rem;
}

.cards {
  width: 1780px;
  display: grid;
  grid-template-columns: repeat(auto-fit, 180px);
  gap: 1rem;
  margin: 0 auto;
  justify-content: center;
}
.card {
}

.cardImg {
  width: 100%;
}

.cardImg img {
  width: 100%;
  height: 285px;
  border-radius: 0.6rem;
}

.card h1 {
  font-size: 1.2rem;
}

a {
  text-decoration: none;
  color: black;
}

.des {
  width: 1080px;
  margin: 0 auto;
  align-items: center;
  display: flex;
}

.des img {
  width: 500px;
  height: 500px;
}

.des p {
  font-size: 1.4rem;
  color: #757272;
}
