footer{
  height: 30px;
  width:100%;
  background: $color_primary;
  display: flex;
  justify-content: right;
  align-items: center;
  border-top: 5px solid $color_border;
  position: sticky;
  Span{
    color: $color_font;
    font-size: 0.8em;
    margin-right: 20px;
  }
}