footer{
  height: 3vh;
  background: $color_primary;
  display: flex;
  justify-content: right;
  align-items: center;
  border-top: 4px solid $color_border;
  Span{
    color: $color_font;
    font-size: 0.8em;
    margin-right: 20px;
  }
}