header{
  display: flex;
  justify-content: center;
  align-items: center;
  background: $color_primary;
  border-bottom:  5px solid $color_border;
  height: 90px;
  width: 100%;
  #header_img{
    background-image: url("../welcome/images/headerimg.png");
    height: 90px;
    width: 120px;
    background-size: cover;
    background-repeat: no-repeat;
    margin-right: -20px;
  }
}
.ani{
  font-family: $font_basic;
  color: $color_border;
  font-size: 5em;
  letter-spacing: 6px;
  transform: skew(-25deg, 0deg);
}
.stat{
  font-family: $font_basic;
  color: $color_card;
  font-size: 5em;
  font-weight: bold;
  letter-spacing: 6px;
  transform: skew(25deg, 0deg);
}

//smartphone
@media (max-width: 520px) {
  .ani, .stat {
    font-size: calc(5vw + 5vh);
  }
}