.main_stats{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  background: $background;
  overflow-y: auto;
  .statistics{
    //see @media below
    .stats{
      display: flex;
      //flex-direction: column;
      align-items: center;
      justify-content: center;
      .animestat,.moviestat,.TVstat{
        display: flex;
        flex-direction: column;
        align-items:  center;
        font-family: $font_basic;
        color:$color_font;
        padding: 20px 50px;
        border: 3px solid;
        margin: 5px;
      }
      .animestat{
        border-color: gold;
        h1{
          color:gold;
        }
        span{
          color: goldenrod;
        }
      }
      .moviestat{
        border-color: red;
        h1{
          color: red;
        }
        span{
          color: lightcoral;
        }
      }
      .TVstat {
        border-color: royalblue;
        h1 {
          color: royalblue;
        }

        span {
          color: lightskyblue;
        }
      }
      h1{
        margin:0;
      }
      span{
        font-size: 1.1em;
      }
    }

  }
  .Pie{
    height: 80vh;
    width: auto;
    margin:auto;
  }
  .Bars{
    height: 100%;
    width:90%;
    margin: 20px auto;
    background: lightgray;
  }
  .genres{
    border: 5px solid $color_card;
  }
  .years{
    border: 5px solid $color_btn;
  }
  .studios{
    border: 5px solid mediumslateblue;
  }
}


@media (min-width: 1001px ) {
  .statistics{
  display: flex;
  justify-content: space-around;
  width: 60vw;
  margin-bottom: 30px;
    .stats{
      display: flex;
      flex-direction: column;
    }
  }
}

@media (min-width: 721px) and (max-width: 1000px) {
  .statistics{
    display: flex;
    flex-direction: column;
    .stats{
      display: flex;
      flex-direction: row;
    }

  }
}

@media (max-width: 720px) {
  .statistics{
    display: flex;
    flex-direction: column;
    .stats{
      display: flex;
      flex-direction: column;
    }
    .Pie{
      height: auto;
      width: 70vw;
    }
  }
}

@media (max-width: 520px) {
  .main_stats{
    height: 95%;
  }
}

@media (min-width: 1001px ) and (max-height: 600px) {
  .statistics{
    .stats{
      .animestat,.moviestat,.TVstat{
        font-size: 0.5em;
        span{
          font-size: 1.1em;
        }
      }
    }
    .Pie{
      height: 70vh;
    }
  }
}

