$font_basic: Impact, sans-serif;
$font_names: Arial, sans-serif;
$color_primary: black;
$color_border: rebeccapurple;
$color_btn: orange;
$color_card:firebrick;
$color_font: white;
$background: linear-gradient(25deg ,
        black , rgb(102, 51, 153, 0),
        black , rgb(102, 51, 153) 50%,
        black , rgb(102, 51, 153, 0),
        black , rgb(102, 51, 153, 0));